#list {
	position: absolute;
}
#list li {
	position: absolute;
	top:0;
	height: 90px;
	transition: top 1.5s ease-in-out;
  list-style-type: none;
}
.card{
	height: 90px;
	width: 62px;
	background-size: cover;
}