#list {
	position: absolute;
}
#list li {
	position: absolute;
	top:0;
	left:0;
	width: 62px;
	height: 90px;
	transition: all 0.5s ease-in-out;
	-webkit-backface-visibility: hidden;
  list-style-type: none;
}
.card{
	height: 90px;
	width: 62px;
	background-size: cover;
}