#list {
	position: absolute;
	width: 100%;
}
#list li {
	position: absolute;
	top:0;
	height: 40px;
	-webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out;
	transition: top 0.5s ease-in-out;
}